lement.style {
}
.card {
    border-radius: 15px;
    background-color: rgb(40, 41, 61, 1);
}
.card {
    background: var(--f7-card-bg-color);
    position: relative;
    border-radius: var(--f7-card-border-radius);
    font-size: var(--f7-card-font-size);
    margin-top: var(--f7-card-margin-vertical);
    margin-bottom: var(--f7-card-margin-vertical);
    margin-left: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-left));
    margin-right: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-right));
    box-shadow: var(--f7-card-box-shadow);
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
feuille de style user-agent
div {
    display: block;
}
