.test{
    width:400px;
    height: 45px;
    width: 300px;
    color:white;
    background-color: rgb(35,35,35);
    border-radius:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}