body,
html {
  font-family: helvetica;
  background-color: #000;
  color: #fff;
}
input {
    background-color: #808080;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
button {
    background-color: #4eef2c;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
