body,
html {
  font-family: helvetica;
  background-color: #000000;
  color: #ffffff;
}
input {
    background-color: #ffffff;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
button {
    background-color: #e8a87c;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
